{% set _azure_blob = (rhcl_dns_azure_json if (rhcl_dns_azure_json | length > 0) else lookup('file', rhcl_dns_azure_json_file)) %}
{% set _azure = _azure_blob | from_json %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ letsencrypt_secret_name }}
  namespace: {{ letsencrypt_secret_namespace }}
type: Opaque
stringData:
  client-secret: {{ _azure.aadClientSecret | quote }}
