apiVersion: v1
kind: Secret
metadata:
  name: {{ letsencrypt_secret_name }}
  namespace: {{ letsencrypt_secret_namespace }}
type: Opaque
stringData:
  secret-access-key: {{ rhcl_dns_aws_secret_access_key | quote }}
