apiVersion: v1
kind: Secret
metadata:
  name: {{ letsencrypt_secret_name }}
  namespace: {{ letsencrypt_secret_namespace }}
type: Opaque
stringData:
  service-account.json: |
{% if rhcl_dns_gcp_google | length > 0 %}
{{ rhcl_dns_gcp_google | indent(4, true) }}
{% else %}
{{ lookup('file', rhcl_dns_gcp_google_file) | indent(4, true) }}
{% endif %}
