apiVersion: v1
kind: Secret
metadata:
  name: {{ coredns_dns_secret_name }}
  namespace: {{ coredns_dns_namespace }}
type: kuadrant.io/coredns
stringData:
  ZONES: {{ coredns_dns_zone | quote }}
{% if coredns_dns_nameservers | default('') | length > 0 %}
  NAMESERVERS: {{ coredns_dns_nameservers | quote }}
{% endif %}
