apiVersion: kuadrant.io/v1
kind: DNSPolicy
metadata:
  name: {{ rhcl_dns_policy_name }}
  namespace: {{ rhcl_dns_policy_target_gateway_namespace }}
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: Gateway
    name: {{ rhcl_dns_policy_target_gateway_name }}
  providerRefs:
    - name: {{ rhcl_dns_secret_name }}
{% if rhcl_dns_policy_load_balancing_enabled %}
  loadBalancing:
    defaultGeo: {{ rhcl_dns_policy_default_geo | bool | string | lower }}
{% if rhcl_dns_policy_geo | default('') | length > 0 %}
    geo: {{ rhcl_dns_policy_geo }}
{% endif %}
    weight: {{ rhcl_dns_policy_weight | int }}
{% endif %}
