apiVersion: v1
kind: Secret
metadata:
  name: {{ rhcl_dns_secret_name }}
  namespace: {{ rhcl_dns_namespace }}
type: kuadrant.io/gcp
stringData:
  PROJECT_ID: {{ rhcl_dns_gcp_project_id | quote }}
  GOOGLE: |
{% if rhcl_dns_gcp_google | length > 0 %}
{{ rhcl_dns_gcp_google | indent(4, true) }}
{% else %}
{{ lookup('file', rhcl_dns_gcp_google_file) | indent(4, true) }}
{% endif %}
