apiVersion: v1
kind: Secret
metadata:
  name: {{ rhcl_dns_secret_name }}
  namespace: {{ rhcl_dns_namespace }}
type: kuadrant.io/aws
stringData:
  AWS_ACCESS_KEY_ID: {{ rhcl_dns_aws_access_key_id | quote }}
  AWS_SECRET_ACCESS_KEY: {{ rhcl_dns_aws_secret_access_key | quote }}
  AWS_REGION: {{ rhcl_dns_aws_region | quote }}
{% if rhcl_dns_aws_zone_id_resolved | default('') | length > 0 %}
  ZONE_ID_FILTER: {{ rhcl_dns_aws_zone_id_resolved | quote }}
{% endif %}
