apiVersion: v1
kind: Secret
metadata:
  name: {{ rhcl_dns_secret_name }}
  namespace: {{ rhcl_dns_namespace }}
type: kuadrant.io/azure
stringData:
  azure.json: |
{% if rhcl_dns_azure_json | length > 0 %}
{{ rhcl_dns_azure_json | indent(4, true) }}
{% else %}
{{ lookup('file', rhcl_dns_azure_json_file) | indent(4, true) }}
{% endif %}
