apiVersion: v1
kind: Service
metadata:
  name: {{ apps_backend_secondary_name }}
  namespace: {{ apps_namespace }}
  labels:
    app: {{ apps_backend_secondary_name }}
{% if apps_backend_tls_enabled %}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ apps_backend_secondary_tls_secret_name }}
{% endif %}
spec:
  selector:
    app: {{ apps_backend_secondary_name }}
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
{% if apps_backend_tls_enabled %}
    - name: https
      port: {{ apps_backend_https_port }}
      protocol: TCP
      targetPort: {{ apps_backend_https_port }}
      appProtocol: https
    - name: mcp-https
      port: {{ apps_backend_mcp_https_service_port }}
      protocol: TCP
      targetPort: {{ apps_backend_https_port }}
      appProtocol: https
{% endif %}
