apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ apps_backend_secondary_name }}
  namespace: {{ apps_namespace }}
spec:
  to:
    kind: Service
    name: {{ apps_backend_secondary_name }}
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Allow
