apiVersion: v1
kind: Secret
metadata:
  name: {{ apikey.name }}
  namespace: {{ apps_connectivity_apikey_secret_namespace }}
  labels:
    authorino.kuadrant.io/managed-by: authorino
    app: {{ apps_connectivity_apikey_secret_name }}
  annotations:
    secret.kuadrant.io/user-id: {{ apikey.user | string | to_json }}
    secret.kuadrant.io/plan-id: {{ apikey.plan | string | to_json }}
type: Opaque
stringData:
  api_key: {{ apikey.value | string | to_json }}
