apiVersion: v1
kind: Service
metadata:
  name: {{ apps_frontend_name }}
  namespace: {{ apps_namespace }}
spec:
  selector:
    app: {{ apps_frontend_name }}
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
