apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ apps_ipfilter_route_name }}
  namespace: {{ apps_namespace }}
  labels:
    app.kubernetes.io/part-of: rhcl-ipfilter-poc
spec:
  parentRefs:
    - name: {{ apps_connectivity_gateway_name }}
      namespace: {{ apps_connectivity_gateway_namespace }}
  hostnames:
    - {{ apps_ipfilter_route_hostname_resolved | to_json }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      filters:
        - type: ResponseHeaderModifier
          responseHeaderModifier:
            set:
              - name: Strict-Transport-Security
                value: max-age=31536000; includeSubDomains
              - name: Access-Control-Allow-Origin
                value: {{ apps_ipfilter_cors_allow_origin | string | to_json }}
              - name: Access-Control-Allow-Methods
                value: "GET,POST,OPTIONS"
              - name: Access-Control-Allow-Headers
                value: "accept,content-type,x-requested-with,x-forwarded-for"
              - name: Access-Control-Expose-Headers
                value: "x-rhcl-policy,x-rhcl-policy-mode"
              - name: Access-Control-Max-Age
                value: "86400"
              - name: Vary
                value: "Origin"
      backendRefs:
        - name: {{ apps_ipfilter_name }}
          port: {{ apps_ipfilter_service_port }}
