apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ apps_ipfilter_name }}
  namespace: {{ apps_namespace }}
  annotations:
    image.openshift.io/triggers: |-
      [{"from":{"kind":"ImageStreamTag","name":"{{ apps_ipfilter_image_name }}:latest","namespace":"{{ apps_namespace }}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"{{ apps_ipfilter_name }}\")].image"}]
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: {{ apps_ipfilter_name }}
  template:
    metadata:
      labels:
        app: {{ apps_ipfilter_name }}
    spec:
      containers:
        - name: {{ apps_ipfilter_name }}
          image: image-registry.openshift-image-registry.svc:5000/{{ apps_namespace }}/{{ apps_ipfilter_image_name }}:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
