apiVersion: v1
kind: Service
metadata:
  name: {{ apps_ledger_name }}
  namespace: {{ apps_namespace }}
  labels:
    app.kubernetes.io/part-of: rhcl-banking-poc
    rhcl.poc/item: "38"
spec:
  selector:
    app: {{ apps_ledger_name }}
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
