apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: {{ apps_load_generator_image_name }}
  namespace: {{ apps_namespace }}
  labels:
    app.kubernetes.io/part-of: rhcl-banking-poc
spec:
  output:
    to:
      kind: ImageStreamTag
      name: {{ apps_load_generator_image_name }}:latest
  source:
    binary: {}
    type: Binary
  strategy:
    dockerStrategy:
      dockerfilePath: Dockerfile
    type: Docker
