apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ apps_load_generator_name }}
  namespace: {{ apps_namespace }}
  labels:
    app.kubernetes.io/part-of: rhcl-banking-poc
spec:
  to:
    kind: Service
    name: {{ apps_load_generator_name }}
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Allow
