apiVersion: v1
kind: Service
metadata:
  name: {{ apps_req054_service_h2c_name }}
  namespace: {{ apps_namespace }}
  labels:
    app.kubernetes.io/part-of: req054-http-versions
    rhcl.poc/item: "54"
spec:
  selector:
    app: {{ apps_backend_primary_name }}
  ports:
  - name: http2
    port: 8080
    targetPort: 8080
    protocol: TCP
    appProtocol: kubernetes.io/h2c
