apiVersion: kuadrant.io/v1
kind: AuthPolicy
metadata:
  name: {{ apps_req048_auth_policy_name }}
  namespace: {{ apps_namespace }}
  labels:
    app.kubernetes.io/part-of: req048-grpc-backend
    rhcl.poc/item: "48"
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: {{ apps_req048_route_name }}
  defaults:
    strategy: atomic
    rules:
      authorization:
        allow-all:
          opa:
            rego: |
              allow = true
