apiVersion: v1
kind: Secret
metadata:
  name: {{ apps_rhoai_backend_name }}-maas
  namespace: {{ apps_namespace }}
  labels:
    app: {{ apps_rhoai_backend_name }}
    rhcl-lab/component: rhoai-assistant
type: Opaque
stringData:
  api-key: "{{ apps_rhoai_maas_api_key }}"
